.body {
    background: white;
    padding-top: 20px;
}

.allButtons {
    padding-top: 40px;
    margin-left: 370px;
    width: 570px;
    border-style: solid;
    border-width: 2px;
    border-color: #242526;
    border-radius: 10px;
}

.totalPenaltyDiv {
    margin-top: 40px;
    margin-bottom: 50px;
    padding-top: 10px;
    margin-left: 370px;
    width: 570px;
    border-style: solid;
    border-width: 2px;
    border-color: #242526;
    border-radius: 10px;
}

#totalPenalty {
    font: bold 30px "Times New Roman";
    color: black;
    width: 500px;
    margin-left: 62px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.dropdownCountry {
    padding-left: 60px;
    padding-bottom: 40px;
}

.countryNameDropdown {
    margin-left: 20px;
    padding-left: 20px;
    border-color: black;
    border-radius: 10px;
    font: bold 20px "Times New Roman";
    color: blue;
    height: 35px;
    width: 300px;
}

.country {
    color: black;
    font: bold 20px "Times New Roman";
}

.entryDateName {
    padding-left: 60px;
    padding-bottom: 40px;
}

.entryDateLabel {
    color: black;
    font: bold 20px "Times New Roman";
}

.entryDate {
    height: 35px;
    width: 202px;
    margin-left: 20px;
    padding-left: 20px;
    color: blue;
    font: bold 20px "Times New Roman";
    border-radius: 10px;
}

.residenceExpiryDateName {
    padding-left: 60px;
    padding-bottom: 40px;
}

.residenceExpiryDateLabel {
    color: black;
    font: bold 20px "Times New Roman";
}

.residenceExpiryDate {
    height: 35px;
    width: 202px;
    margin-left: 45px;
    padding-left: 20px;
    color: blue;
    font: bold 20px "Times New Roman";
    border-radius: 10px;
}

.logoutExpiryDateName {
    padding-left: 60px;
    padding-bottom: 40px;
}

.logoutExpiryDateLabel {
    color: black;
    font: bold 20px "Times New Roman";
}

.logoutExpiryDate {
    height: 35px;
    width: 202px;
    margin-left: 55px;
    padding-left: 20px;
    color: blue;
    font: bold 20px "Times New Roman";
    border-radius: 10px;
}

.dateYouPlanToExitName {
    padding-left: 60px;
    padding-bottom: 40px;
}

.dateYouPlanToExitLabel {
    color: black;
    font: bold 20px "Times New Roman";
}

.dateYouPlanToExit {
    height: 35px;
    width: 187px;
    margin-left: 15px;
    padding-left: 20px;
    color: blue;
    font: bold 20px "Times New Roman";
    border-radius: 10px;
}

.visaYesAndNo {
    padding-left: 60px;
    padding-bottom: 40px;
}

.visaPermit {
    font: bold 20px "Times New Roman";
    color: black;
}

.permitYesAndNoDropdown {
    margin-left: 28px;
    padding-left: 20px;
    border-color: black;
    border-radius: 10px;
    font: bold 20px "Times New Roman";
    color: blue;
    height: 35px;
    width: 200px;
}

.residencePermitYesAndNo {
    padding-left: 60px;
    padding-bottom: 40px;
}

.residencePermitName {
    font: bold 20px "Times New Roman";
    color: black;
}

.request {
    padding-top: 40px;
}

.requestButton {
    height: 40px;
    width: 566px;
    border-radius: 10px;
    background: darkturquoise;
    font: bold 25px "Times New Roman";
    color: black;
}

.requestButton:hover {
    background: #6495ED;
    color: white;
}

.resetButton {
    margin-top: 23px;
    height: 40px;
    width: 566px;
    border-radius: 10px;
    background: darkturquoise;
    font: bold 25px "Times New Roman";
    color: black;
}

.resetButton:hover {
    background: #6495ED;
    color: white;
}

.residenceYesAndNoDropdown {
    margin-left: 52px;
    padding-left: 20px;
    border-color: black;
    border-radius: 10px;
    font: bold 20px "Times New Roman";
    color: blue;
    height: 35px;
    width: 200px;
}

.logoutYesAndNoDropdown {
    margin-left: 20px;
    padding-left: 20px;
    border-color: black;
    border-radius: 10px;
    font: bold 20px "Times New Roman";
    color: blue;
    height: 35px;
    width: 168px;
}

.resetNextButton {
    margin-top: 10px;
    height: 35px;
    width: 100px;
    background: blue;
    font: bold 20px "Times New Roman";
    border-radius: 10px;
    color: white;
}

.tableRow {
    border-color: darkgreen;
    font: bold 20px "Times New Roman";
    color: darkblue;
}

.table {
    margin-top: 30px;
    margin-left: 60px;
    width: 445px !important;
}

.tableRow1 {
    width: 250px;
    padding-left: 30px !important;
}

.tableRow2 {
    padding-left: 20px !important;
}