<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="../index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</head>
<body class="body">

<script>

    function fromDollarToTl() {
        var xmlHttp = new XMLHttpRequest();
        var url = "https://www.xe.com/api/protected/statistics/?from=USD&to=TRY";
        xmlHttp.open("GET", url, false);
        xmlHttp.setRequestHeader('Content-type', 'application/json');
        xmlHttp.send(null);

        var list = JSON.parse(xmlHttp.responseText);
        list.last30Days = undefined;

        var fromDollarToTl = document.getElementById("fromDollarToTl");

        var fromDollarToTlTextBox =
            "<button id=\"dollar\">Cevir</button>\n" +
            "<label class=\"turkishTl\">:TL</label>";

        fromDollarToTl.innerHTML += fromDollarToTlTextBox.replaceAll(":TL", list.last30Days.high);
    }

    function showAllCounties() {
        var xmlHttp = new XMLHttpRequest();
        var url = "http://localhost:8080/visa/countries";
        xmlHttp.open("GET", url, false);
        xmlHttp.setRequestHeader('Content-type', 'application/json');
        xmlHttp.send(null);

        var list = JSON.parse(xmlHttp.responseText);

        var dropdownButton = document.getElementById("dropdown");

        var dropdownList = "<option value=\":id\">:country</option>\n";


        for (var i = 0; i < list.length; i++) {
            dropdownButton.innerHTML = dropdownButton.innerHTML + dropdownList.replaceAll(":country", list[i].country)
                .replaceAll(":id", list[i].id);
        }
    }

    function pressCountryNextButton() {
        var countryName = document.getElementById("dropdown").value;
        if (countryName !== "null") {
            showEntryDate();
        }
    }

    function showEntryDate() {
        document.getElementById("entryDateName").innerHTML =
            "<div class=\"entryDateName\">\n" +
            "                <label class=\"entryDateLabel\">Giriş tarixinizi qeyd edin:\n" +
            "                    <input type=\"date\" class=\"entryDate\" value=\"date\" id=\"entryDate\" onchange=\"pressEntryDateButton()\">\n" +
            "                </label>\n" +
            "            </div>";
    }

    function showResidencePermitYesAndNo() {
        showResidencePermitYesAndNoWithoutValidityDate();
    }

    function pressResidenceDropdownNextButton() {
        var residenceDropdownValue = document.getElementById("residencePermitDropdown").value;
        if (residenceDropdownValue === "Yes" || residenceDropdownValue === "No") {
            document.getElementById("requestButton").innerHTML =
                "<button class=\"requestButton\" type=\"button\" name=\"requestButton\" value=\"Request\" onclick=\"visaCalculator()\">Hesapla</button>";
        }
    }

    function pressValidityDateNextButton() {
        var validityDate = document.getElementById("validityDateTime").value;
        if (validityDate !== "") {
            showResidencePermitYesAndNo();
        }
    }

    function showValidityDate() {
        document.getElementById("validityDate").innerHTML =
            "<div class=\"validityDateName\">\n" +
            "                <label class=\"validityDateLabel\">Vizanın geçerlilik tarixi:\n" +
            "                    <input type=\"date\" class=\"validityDate\" id=\"validityDateTime\" value=\"date\" onchange=\"pressValidityDateNextButton()\">\n" +
            "                </label>\n" +
            "            </div>";
    }

    function showResidencePermitYesAndNoWithoutValidityDate() {
        document.getElementById("residencePermitYesAndNo").innerHTML =
            "<div class=\"residencePermitYesAndNo\">\n" +
            "                <label class=\"residencePermitName\"> İkamet izni aldınızmı?\n" +
            "                    <select class=\"custom-select residenceYesAndNoDropdown\" id=\"residencePermitDropdown\" onchange=\"pressResidenceDropdownNextButton()\">\n" +
            "                        <option value=\"null\">Seçim edin..</option>\n" +
            "                        <option value=\"Yes\">Evet</option>\n" +
            "                        <option value=\"No\">Hayır</option>\n" +
            "                    </select>\n" +
            "                </label>\n" +
            "            </div>";
    }

    function pressPermitDropdownNextButton() {
        var yesAndNoButton = document.getElementById("visaPermitDropdown").value;
        if (yesAndNoButton === "Yes") {
            showValidityDate();
        } else if (yesAndNoButton === "No") {
            document.getElementById("validityDate").innerHTML = "";
            showResidencePermitYesAndNoWithoutValidityDate();
        }
    }

    function pressEntryDateButton() {
        var entryDate = document.getElementById("entryDate").value;
        if (entryDate !== "") {
            showVisaYesAndNoButtons();
        }
    }

    function showVisaYesAndNoButtons() {
        document.getElementById("visaYesAndNo").innerHTML =
            "<div class=\"visaYesAndNo\">\n" +
            "                <label class=\"visaPermit\"> Vize ile mi giriş yaptınız?\n" +
            "                    <select class=\"custom-select permitYesAndNoDropdown\" id=\"visaPermitDropdown\" onchange=\"pressPermitDropdownNextButton()\">\n" +
            "                        <option value=\"null\">Seçim edin..</option>\n" +
            "                        <option value=\"Yes\">Evet</option>\n" +
            "                        <option value=\"No\">Hayır</option>\n" +
            "                    </select>\n" +
            "                </label>\n" +
            "            </div>";
    }

    function visaCalculator() {
        var id = document.getElementById("dropdown").value;
        var entryDate = document.getElementById("entryDate").value;
        var visaPermitDropdown = document.getElementById("visaPermitDropdown").value;
        var validityDate = document.getElementById("validityDateTime");
        var residencePermit = document.getElementById("residencePermitDropdown").value;

        if (validityDate === null){
            validityDate = "null";
        } else {
            validityDate = document.getElementById("validityDateTime").value;
        }

        if (id !== "null" && entryDate !== "" &&visaPermitDropdown !== "null" && validityDate !== "" && residencePermit !== "null") {
            document.getElementById("totalPenaltyDiv").innerHTML = "";

            var xmlHttp = new XMLHttpRequest();
            var url = "http://localhost:8080/visa/calculator?";
            url += "&id=" + document.getElementById("dropdown").value;
            url += "&entryDate=" + document.getElementById("entryDate").value;
            url += "&visaValidityDate=" + validityDate;
            url += "&residencePermit=" + document.getElementById("residencePermitDropdown").value;
            xmlHttp.open("GET", url, false);
            xmlHttp.setRequestHeader('Content-type', 'application/json');
            xmlHttp.send(null);

            var list = JSON.parse(xmlHttp.responseText);

            var totalPenaltyDiv = document.getElementById("totalPenaltyDiv");

            var totalPenalty =
                "<div class=\"totalPenaltyDiv\">\n" +
                "            <table class=\"table table-bordered border-primary\">\n" +
                "                <tr class=\"tableRow\">\n" +
                "                    <td class=\"tableRow1\">Kart Ücreti</td>\n" +
                "                    <td class=\"tableRow2\">:cardFee TL</td>\n" +
                "                </tr>\n" +
                "                <tr class=\"tableRow\">\n" +
                "                    <td class=\"tableRow1\">Vize Harcı</td>\n" +
                "                    <td class=\"tableRow2\">:visaFee TL</td>\n" +
                "                </tr>\n" +
                "                <tr class=\"tableRow\">\n" +
                "                    <td class=\"tableRow1\">İlk Ceza Tutarı</td>\n" +
                "                    <td class=\"tableRow2\">:firstMonth TL</td>\n" +
                "                </tr>\n" +
                "                <tr class=\"tableRow\">\n" +
                "                    <td class=\"tableRow1\">Aylık Ceza Tutarı</td>\n" +
                "                    <td class=\"tableRow2\">:monthlyAmount TL</td>\n" +
                "                </tr>\n" +
                "                <tr class=\"tableRow\">\n" +
                "                    <td class=\"tableRow1\">Cezalı Süre</td>\n" +
                "                    <td class=\"tableRow2\">:additonalDays ay</td>\n" +
                "                </tr>\n" +
                "                <tr class=\"tableRow\">\n" +
                "                    <td class=\"tableRow1\">Dolar Kur</td>\n" +
                "                    <td class=\"tableRow2\">:tl TL</td>\n" +
                "                </tr>\n" +
                "            </table>\n" +
                "            <label id=\"totalPenalty\">Toplam ceza tutarı: :total TL</label>\n" +
                "        </div>";

            totalPenaltyDiv.innerHTML += totalPenalty.replaceAll(":cardFee", list[0].cardFee)
                .replaceAll(":visaFee", list[0].visaFee).replaceAll(":firstMonth", list[0].firstMonthPenaltyAmount)
                .replaceAll(":monthlyAmount", list[0].monthlyPenaltyAmount).replaceAll(":additonalDays", list[0].additionalDaysAmount)
                .replaceAll(":tl", list[0].turkishLira).replaceAll(":total", list[0].totalPenaltyAmount);
        } else {
            document.getElementById("totalPenaltyDiv").innerHTML = "";
        }
    }

</script>
<div>

    <div id="fromDollarToTl">

    </div>

    <div id="allButtons">
        <div class="allButtons">

            <div class="dropdownCountry">
                <label class="country">Ülkenizi seçin:
                    <select class="custom-select countryNameDropdown" id="dropdown" name="dropdownCountry"
                            onchange="pressCountryNextButton()">
                        <option value="null">Seçim edin..</option>
                    </select>
                </label>
            </div>

            <div id="entryDateName">

            </div>

            <div id="visaYesAndNo">

            </div>

            <div id="validityDate">

            </div>

            <div id="residencePermitYesAndNo">

            </div>

            <div id="requestButton">

            </div>

        </div>
    </div>

    <div id="totalPenaltyDiv">

    </div>

    <script>
        showAllCounties();
    </script>

</div>
</body>
</html>
