<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="https://visa-calc.herokuapp.com/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</head>
<body class="body">

<script>
    var host = "https://calculatefee-ca65fa4ce6a0.herokuapp.com";

    function showAllCounties() {
        var xmlHttp = new XMLHttpRequest();
        var url = host + "/visa/countries";
        xmlHttp.open("GET", url, false);
        xmlHttp.setRequestHeader('Content-type', 'application/json');
        xmlHttp.send(null);

        var list = JSON.parse(xmlHttp.responseText);

        var dropdownButton = document.getElementById("dropdown");

        var dropdownList = "<option value=\":id\">:country</option>\n";


        for (var i = 0; i < list.length; i++) {
            dropdownButton.innerHTML = dropdownButton.innerHTML + dropdownList.replaceAll(":country", list[i].country)
                .replaceAll(":id", list[i].id);
        }
    }

    function pressCountryNextButton() {
        var countryName = document.getElementById("dropdown").value;
        if (countryName !== "null") {
            showEntryDate();
        }
    }

    function showEntryDate() {
        document.getElementById("entryDateName").innerHTML =
            "<div class=\"entryDateName\">\n" +
            "                <label class=\"entryDateLabel\">Giriş tarixinizi qeyd edin:\n" +
            "                    <input type=\"date\" class=\"entryDate\" value=\"date\" id=\"entryDate\" onchange=\"pressEntryDateButton()\">\n" +
            "                </label>\n" +
            "            </div>";
    }

    function pressEntryDateButton() {
        var entryDate = document.getElementById("entryDate").value;
        if (entryDate !== "") {
            showVisaYesAndNoButtons();
        }
    }

    function showVisaYesAndNoButtons() {
        document.getElementById("visaYesAndNo").innerHTML =
            "<div class=\"visaYesAndNo\">\n" +
            "                <label class=\"visaPermit\"> Vize ile mi giriş yaptınız?\n" +
            "                    <select class=\"custom-select permitYesAndNoDropdown\" id=\"visaPermitDropdown\" onchange=\"pressPermitDropdownNextButton()\">\n" +
            "                        <option value=\"null\">Seçim edin..</option>\n" +
            "                        <option value=\"Yes\">Evet</option>\n" +
            "                        <option value=\"No\">Hayır</option>\n" +
            "                    </select>\n" +
            "                </label>\n" +
            "            </div>";
    }

    function pressPermitDropdownNextButton() {
        var yesAndNoButton = document.getElementById("visaPermitDropdown").value;
        if (yesAndNoButton === "Yes" || yesAndNoButton === "No") {
            showResidencePermitYesAndNo()
        }
    }

    function showResidencePermitYesAndNo() {
        document.getElementById("residencePermitYesAndNo").innerHTML =
            "<div class=\"residencePermitYesAndNo\">\n" +
            "                <label class=\"residencePermitName\"> İkamet izni aldınızmı?\n" +
            "                    <select class=\"custom-select residenceYesAndNoDropdown\" id=\"residencePermitDropdown\" onchange=\"pressResidencePermitButton()\">\n" +
            "                        <option value=\"null\">Seçim edin..</option>\n" +
            "                        <option value=\"Yes\">Evet</option>\n" +
            "                        <option value=\"No\">Hayır</option>\n" +
            "                    </select>\n" +
            "                </label>\n" +
            "            </div>";
    }

    function pressResidencePermitButton() {
        var residencePermit = document.getElementById("residencePermitDropdown").value;
        if (residencePermit === "Yes") {
            showResidenceExpiryDate();
        } else if (residencePermit === "No") {
            document.getElementById("residenceExpiryDate").innerHTML = "";
            showLogoutPermitButton();
        }
    }

    function showResidenceExpiryDate() {
        document.getElementById("residenceExpiryDate").innerHTML =
            "<div class=\"residenceExpiryDateName\">\n" +
            "                <label class=\"residenceExpiryDateLabel\">İkamet izni bitiş tarihi:\n" +
            "                    <input type=\"date\" class=\"residenceExpiryDate\" id=\"residenceExpiryDateTime\" value=\"date\" onchange=\"pressResidenceExpiryDateButton()\">\n" +
            "                </label>\n" +
            "            </div>";
    }

    function pressResidenceExpiryDateButton() {
        var residenceExpiryDate = document.getElementById("residenceExpiryDateTime").value;
        if (residenceExpiryDate !== "") {
            showLogoutPermitButton();
        }
    }

    function showLogoutPermitButton() {
        document.getElementById("logoutPermitYesAndNo").innerHTML =
            "<div class=\"residencePermitYesAndNo\">\n" +
            "                <label class=\"residencePermitName\">Türkiyeden çıkış yaptınız mi?\n" +
            "                    <select class=\"custom-select logoutYesAndNoDropdown\" id=\"logoutPermitDropdown\" onchange=\"pressLogoutExpiryNextButton()\">\n" +
            "                        <option value=\"null\">Seçim edin..</option>\n" +
            "                        <option value=\"Yes\">Evet</option>\n" +
            "                        <option value=\"No\">Hayır</option>\n" +
            "                    </select>\n" +
            "                </label>\n" +
            "            </div>";
    }

    function pressLogoutExpiryNextButton() {
        var logoutPermit = document.getElementById("logoutPermitDropdown").value;
        if (logoutPermit === "Yes") {
            document.getElementById("dateYouPlanToExit").innerHTML = "";
            showLogoutExpiryDate();
        } else if (logoutPermit === "No"){
            document.getElementById("logoutExpiryDate").innerHTML = "";
            showDateYouPlanToExit();
        }
    }

    function showLogoutExpiryDate() {
        document.getElementById("logoutExpiryDate").innerHTML =
            "<div class=\"logoutExpiryDateName\">\n" +
            "                <label class=\"logoutExpiryDateLabel\">Çıkış yaptığınız tarih:\n" +
            "                    <input type=\"date\" class=\"logoutExpiryDate\" id=\"logoutExpiryDateTime\" value=\"date\" onchange=\"pressLogoutExpiryDateButton()\">\n" +
            "                </label>\n" +
            "            </div>";
    }

    function pressLogoutExpiryDateButton() {
        var logoutExpiryDate = document.getElementById("logoutExpiryDateTime").value;
        if (logoutExpiryDate !== "") {
            pressResidenceDropdownNextButton();
        }
    }

    function showDateYouPlanToExit() {
        document.getElementById("dateYouPlanToExit").style.display = "inline";
    }

    function pressDateYouPlanToExitButton() {
        var dateYouPlanToExit = document.getElementById("dateYouPlanToExitDateTime").value;
        if (dateYouPlanToExit !== "") {
            pressResidenceDropdownNextButton();
        }
    }

    function pressResidenceDropdownNextButton() {
        var residenceDropdownValue = document.getElementById("residencePermitDropdown").value;
        if (residenceDropdownValue === "Yes" || residenceDropdownValue === "No") {
            document.getElementById("requestButton").innerHTML =
                "<button class=\"requestButton\" type=\"button\" name=\"requestButton\" value=\"Request\" onclick=\"visaCalculator()\">Hesapla</button>";
        }
    }

    function visaCalculator() {
        var id = document.getElementById("dropdown").value;
        var entryDate = document.getElementById("entryDate").value;
        var visaPermitDropdown = document.getElementById("visaPermitDropdown").value;
        var residencePermit = document.getElementById("residencePermitDropdown").value;
        var residenceExpiryDate = document.getElementById("residenceExpiryDateTime");
        var logoutPermit = document.getElementById("logoutPermitDropdown").value;
        var logoutExpiryDate = document.getElementById("logoutExpiryDateTime");
        if (logoutExpiryDate === null){
            logoutExpiryDate = document.getElementById("dateYouPlanToExitDateTime").value;
        } else {
            logoutExpiryDate = document.getElementById("logoutExpiryDateTime").value;
        }

        if (residenceExpiryDate === null) {
            residenceExpiryDate = "null";
        } else {
            residenceExpiryDate = document.getElementById("residenceExpiryDateTime").value;
        }

        if (id !== "null" && entryDate !== "" && visaPermitDropdown !== "null"
               && residenceExpiryDate !== "" && residencePermit !== "null" && logoutPermit !== "null" && logoutExpiryDate !== "") {
            document.getElementById("totalPenaltyDiv").innerHTML = "";

            var xmlHttp = new XMLHttpRequest();
            var url = host + "/visa/calculator?";
            url += "&id=" + id;
            url += "&entryDate=" + entryDate;
            if (visaPermitDropdown === "Yes" || residencePermit === "Yes") {
                url += "&visaPermit=" + "Yes";
            } else {
                url += "&visaPermit=" + "No";
            }
            url += "&residenceExpiryDate=" + residenceExpiryDate;
            url += "&logoutDate=" + logoutExpiryDate;

            xmlHttp.open("GET", url, false);
            xmlHttp.setRequestHeader('Content-type', 'application/json');
            xmlHttp.send(null);

            var list = JSON.parse(xmlHttp.responseText);

            var totalPenaltyDiv = document.getElementById("totalPenaltyDiv");

            var totalPenalty =
                "<div class=\"totalPenaltyDiv\">\n" +
                "            <table class=\"table table-bordered border-primary\">\n" +
                "                <tr class=\"tableRow\">\n" +
                "                    <td class=\"tableRow1\">Kart Ücreti</td>\n" +
                "                    <td class=\"tableRow2\">:cardFee TL</td>\n" +
                "                </tr>\n" +
                "                <tr class=\"tableRow\">\n" +
                "                    <td class=\"tableRow1\">Vize Harcı</td>\n" +
                "                    <td class=\"tableRow2\">:visaFee TL</td>\n" +
                "                </tr>\n" +
                "                <tr class=\"tableRow\">\n" +
                "                    <td class=\"tableRow1\">İlk Ceza Tutarı</td>\n" +
                "                    <td class=\"tableRow2\">:firstMonth TL</td>\n" +
                "                </tr>\n" +
                "                <tr class=\"tableRow\">\n" +
                "                    <td class=\"tableRow1\">Aylık Ceza Tutarı</td>\n" +
                "                    <td class=\"tableRow2\">:monthlyAmount TL</td>\n" +
                "                </tr>\n" +
                "                <tr class=\"tableRow\">\n" +
                "                    <td class=\"tableRow1\">Cezalı Süre</td>\n" +
                "                    <td class=\"tableRow2\">:additonalDays ay</td>\n" +
                "                </tr>\n" +
                "                <tr class=\"tableRow\">\n" +
                "                    <td class=\"tableRow1\">Dolar Kur</td>\n" +
                "                    <td class=\"tableRow2\">:tl TL</td>\n" +
                "                </tr>\n" +
                "            </table>\n" +
                "            <label id=\"totalPenalty\">Toplam ceza tutarı: :total TL</label>\n" +
                "        </div>";

            totalPenaltyDiv.innerHTML += totalPenalty.replaceAll(":cardFee", list.cardFee)
                .replaceAll(":visaFee", list.visaFee).replaceAll(":firstMonth", list.firstMonthPenaltyAmount)
                .replaceAll(":monthlyAmount", list.monthlyPenaltyAmount).replaceAll(":additonalDays", list.additionalDaysAmount)
                .replaceAll(":tl", list.turkishLira).replaceAll(":total", list.totalPenaltyAmount);
        } else {
            document.getElementById("totalPenaltyDiv").innerHTML = "";
        }
    }

</script>

<div id="allButtons" class="allButtons">
    <div class="dropdownCountry">
        <label class="country">Ülkenizi seçin:
            <select class="custom-select countryNameDropdown" id="dropdown" name="dropdownCountry"
                    onchange="pressCountryNextButton()">
                <option value="null">Seçim edin..</option>
            </select>
        </label>
    </div>

    <div id="entryDateName"></div>

    <div id="visaYesAndNo"></div>

    <div id="residencePermitYesAndNo"></div>

    <div id="residenceExpiryDate"></div>

    <div id="logoutPermitYesAndNo"></div>

    <div id="logoutExpiryDate"></div>

    <div id="dateYouPlanToExit" style="display: none">
        <div class="dateYouPlanToExitName">
            <label class="dateYouPlanToExitLabel">Çıkmayı planladığınız tarih:
                <input type="date" class="dateYouPlanToExit" id="dateYouPlanToExitDateTime" value="date" onchange="pressDateYouPlanToExitButton()">
                </label>
        </div>
    </div>

    <div id="requestButton"></div>

</div>

<div id="totalPenaltyDiv"></div>

<script>
    showAllCounties();
</script>

</body>
</html>